.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    font-family: 'NTR', sans-serif;
    text-transform: uppercase;
}

.about-text {
    padding: 2em 2em 2em 0;
    border-right: 2px solid white;
}

.about-pic {
    margin-left: 5em;
    height: 450px;
    width: 300px;
}

.resume-bttn {
  color: white;
}

.resume-bttn:hover {
    color: #A7BDDD;
    text-decoration: none;
}