.projects {
    height: 100vh;
    margin: 0 !important;
    background-color: #0C0E29;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.project-card {
  background-color: #05083A !important;
}

.projects-title {
  font-family: 'NTR', sans-serif;
  text-transform: uppercase;
}

.projects-col {
  margin-top: 2em;
}