.projects {
    height: 100vh;
    margin: 0 !important;
    background-color: #0C0E29;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.projects-title {
  font-family: 'NTR', sans-serif;
  text-transform: uppercase;
}

.projects-col {
  margin-top: 2em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.project-icon {
  margin-bottom: .5em;
}

.portfolio-bttn {
  background-color: #0C0E29 !important;
  display: flex;
  flex-wrap: wrap;
}